<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>115219137834-uo2vkdot1oiln5g8dt305ofvalfvgqa5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115219137834-uo2vkdot1oiln5g8dt305ofvalfvgqa5</string>
	<key>API_KEY</key>
	<string>AIzaSyCxTbh5HtGyBLG1DIgDB476WLQn5NGLDno</string>
	<key>GCM_SENDER_ID</key>
	<string>115219137834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imediayala.WeTeamUp</string>
	<key>PROJECT_ID</key>
	<string>weteamup-5a86a</string>
	<key>STORAGE_BUCKET</key>
	<string>weteamup-5a86a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:115219137834:ios:17062e6b1eb8c772</string>
	<key>DATABASE_URL</key>
	<string>https://weteamup-5a86a.firebaseio.com</string>
</dict>
</plist>